td.picture, th.picture {
    max-width: 250px;
    overflow: hidden;
}

img.boxart {
    border: #d6d6d6 solid 6px;
    border-left: 0;
    -webkit-border-radius: 2px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius: 2px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-radius: 2px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}