<html>
<head>
    <title>Test</title>

    <script src="https://cdn.jsdelivr.net/sorttable/2/sorttable.min.js"></script>
    <script>
    function imgError(image){
        image.style.display = 'none';
    }
    </script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"></link>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="sortable table">
                    <thead>
                        <th class="text-center"> ID</th>
                        <th class="text-center"> Emu ID</th>
                        <th class="text-center"> Icon</th>
                        <th> Name</th>
                        <th class="text-center"> Rating</th>
                        <th class="text-center"> Count</th>
                        <th class="text-center picture"> Box</th>
                        <th class="text-center picture"> Screenshot</th>
                    </thead>
                    {% for dict in game_list %}
                    <tr id="{{ dict['id'] }}">
                        <td class="text-center"> {{ dict["id"] }}</td>
                        <td class="text-center"> {{ dict["emu_id"] }}</td>
                        <td class="text-center"> <img src="{{ dict['icon'] }}" alt="{{ dict['id'] }} icon" width="24" height="24" onerror="imgError(this);"/></td>
                        <td> <a href="{{ dict['link'] }}">{{ dict['name'] }}</a></td>
                        <td class="text-center"> {{ dict["rating"] }}</td>
                        <td class="text-center"> {{ dict["rating_count"] }}</td>
                        <td class="text-center picture"> <img src="{{ dict['boxart'] }}" class="boxart" alt="{{ dict['id'] }} Boxart" onerror="imgError(this);"/></td>
                        <td class="text-center picture"> <img src="{{ dict['screenshot'] }}" alt="{{ dict['id'] }} Screen" onerror="imgError(this);"/></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>